<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="ion-text-end">
      <span>
        <ion-button color="light" (click)="authService.closeSesion()">
          <ion-icon color="primary" name="arrow-back-circle-outline"></ion-icon>
        <span class="hide-on-xs">Cerrar sesión</span>
        </ion-button>
      </span>
    </div>
    <ion-title class="ion-text-center">Examenes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <h1 class="ion-text-center"><b>Nuevo examen</b></h1>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="centrado">
        <form
          class="animate__animated animate__jello"
          [formGroup]="formularioExamen"
          >
        <ion-list>
          <ion-item>
            <ion-label>Razón examen:</ion-label>
            <ion-input formControlName="razon" placeholder="dolor de muelas"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Nombre examen:</ion-label>
            <ion-input formControlName="nombre" placeholder="panoramica"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Fecha examen:</ion-label>
                  <ion-datetime-button datetime="datetime"></ion-datetime-button>

                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime #datetime (ionChange)="dateChanged(datetime.value)" showDefaultButtons="true" id="datetime"></ion-datetime>
                    </ng-template>
                  </ion-modal>
          </ion-item>

          <ion-item id="examen">
            <ion-text>
              Sacar foto:
            </ion-text>
            <ion-button class="full-width-button" color="light" (click)="seleccionarImagen()"
              ><ion-icon name="camera-outline"></ion-icon></ion-button>

          </ion-item>


          <ion-item>
            <ion-button class="full-width-button" color="tertiary" (click)="guardarExamen()"
              >Guardar examen</ion-button>
          </ion-item>

          <ion-item *ngIf="images.length != 0">
            <div *ngFor="let file of images.data; let i = index">
                <ion-thumbnail slot="start">
                  <ion-img [src]="file.data"></ion-img>
                </ion-thumbnail>
            </div>
          </ion-item>
        </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
