<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="ion-text-end">
      <span>
        <ion-button color="light" (click)="authService.closeSesion()">
          <ion-icon color="primary" name="arrow-back-circle-outline"></ion-icon>
        <span class="hide-on-xs">Cerrar sesión</span>
        </ion-button>
      </span>
    </div>
    <ion-title class="ion-text-center">Remedios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <h1 class="ion-text-center"><b>Nuevo remedio</b></h1>
        </ion-text>
      </ion-col>
      <ion-col>
      </ion-col>

      <ion-col class="centrado" size="6">
        <div id="lst-datos-tratamiento">
          <ion-list>
            <ion-item>
              <ion-label>Motivo remedio:</ion-label>
              <ion-input placeholder="ej: controlar la pre diabetes"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Nombre remedio:</ion-label>
              <ion-input placeholder="ej: remedioFicticio 500g"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Cantidad(u/g):</ion-label>
              <ion-input placeholder="1"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>cada(horas):</ion-label>
              <ion-input placeholder="8"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>durante(dias):</ion-label>
              <ion-input placeholder="4"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Inicio tratamiento:</ion-label>
              <ion-input>
                <ion-datetime-button slot="end" datetime="datetime">
                </ion-datetime-button>
              </ion-input>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="datetime">
                    <span slot="title">Fecha inicio del tratamiento</span>
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>

            <ion-item>
              <ion-button class="full-width-button" color="tertiary"
                >Guardar tratamiento</ion-button
              >
            </ion-item>
          </ion-list>
        </div>
      </ion-col>


      <ion-col>
      </ion-col>

      <ion-col size="12">
        <ion-text color="primary">
          <h1 class="ion-text-center"><b>Mis remedios</b></h1>
        </ion-text>
        <!-- <ion-list> -->
        <!--   <div *ngFor="let remedio of remedios; let i = index" class="post-it centrado" (click)="toggleExpand(i)"> -->
        <!--     <div class="ion-text-center" [ngClass]="{'animate__animated': isExpanded[i], 'animate__pulse': isExpanded[i]}"> -->
        <!--       <h3>{{ remedio.motivo }}</h3> -->
        <!--       <ion-text> -->
        <!--         <h4 *ngIf="isExpanded[i]">Inicio tratamiento: {{ remedio.inicio }} {{ remedio.hora }}</h4> -->
        <!--         <h4 *ngIf="isExpanded[i]">Instrucción: tomar {{ remedio.cantidad }}(u/g) {{ remedio.remedio }} cada {{ remedio.frecuencia_horas }}hrs por {{ remedio.periodo_dias }} dia/s </h4> -->
        <!--         <h4 *ngIf="isExpanded[i]">Comentario: {{ remedio.comentario }}</h4> -->
        <!--       </ion-text> -->
        <!--     </div> -->
        <!--   </div> -->
        <!-- </ion-list> -->
        <!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)"> -->
        <!--   <ion-infinite-scroll-content></ion-infinite-scroll-content> -->
        <!-- </ion-infinite-scroll> -->
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
