<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="ion-text-end">
      <span>
        <ion-button color="light" (click)="apiService.closeSesion()">
          <ion-icon color="primary" name="arrow-back-circle-outline"></ion-icon>
        <span class="hide-on-xs">Cerrar sesión</span>
        </ion-button>
      </span>
    </div>
    <ion-title class="ion-text-center">Citas medicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <h1 class="ion-text-center"><b>Nueva cita</b></h1>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="centrado">
        <form [formGroup]="formularioCita">
          <ion-list>
            <ion-item>
              <ion-label>Motivo:</ion-label>
              <ion-input formControlName="motivo" placeholder="dolor de muelas"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Especialidad:</ion-label>
              <ion-input formControlName="especialidad" placeholder="Dentista"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Fecha cita:</ion-label>
              <input formControlName="fecha" type="datetime-local" id="cita-time">
            </ion-item>


            <ion-item>
              <ion-button class="full-width-button" color="tertiary" (click)="guardarCita()"
                >Guardar cita</ion-button
              >
            </ion-item>
          </ion-list>
        </form>
      </ion-col>

      <ion-col size="12">
        <ion-text color="primary">
          <h1 class="ion-text-center"><b>Mis citas</b></h1>
        </ion-text>
        <ion-list>
          <div *ngFor="let cita of citas; let i = index" class="post-it centrado" (click)="toggleExpand(i)">
            <div class="ion-text-center" [ngClass]="{'animate__animated': isExpanded[i], 'animate__pulse': isExpanded[i]}">
              <h3>{{ cita.motivo }}</h3>
              <ion-text>
                <h4 *ngIf="isExpanded[i]"> {{ cita.especialidad }}</h4>
                <h4 *ngIf="isExpanded[i]"> {{ cita.fecha }}</h4>
                <h4 *ngIf="isExpanded[i]"> {{ cita.hora }}hrs</h4>
              </ion-text>
            </div>
          </div>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
