<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="ion-text-end">
      <span>
        <ion-button color="light" (click)="apiService.closeSesion()">
          <ion-icon color="primary" name="arrow-back-circle-outline"></ion-icon>
          <span class="hide-on-xs">Cerrar sesión</span>
        </ion-button>
      </span>
    </div>
    <ion-title class="ion-text-center">Citas medicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text color="primary"> </ion-text>
      </ion-col>
      <ion-col size="12" class="centrado">
        <ion-text color="primary">
          <h1 class="ion-text-center">
            <b>Mis citas</b>
          </h1>
        </ion-text>
      </ion-col>
      <ion-col></ion-col>
      <ion-col size="12" sizeLg="8">
              <ion-button
                class="full-width-button"
                color="light"
                (click)="createForm()"
                *ngIf="isNewForm==false; else nuevaCita"
              >
                <ion-icon size="large" color="success" name="add-circle-outline"></ion-icon>
              </ion-button>
          <ng-template #nuevaCita>
            <form
              class="animate__animated animate__jello"
              [formGroup]="formularioCita"
            >
              <ion-list>
                <ion-item>
                  <ion-label position="stacked">Motivo:</ion-label>
                  <ion-input
                    formControlName="motivo"
                    placeholder="dolor de muelas"
                  ></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="stacked">Especialidad:</ion-label>
                  <ion-input
                    formControlName="especialidad"
                    placeholder="Dentista"
                  ></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="stacked">Fecha cita:</ion-label>
                  <ion-datetime-button datetime="datetime"></ion-datetime-button>

                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime #datetime (ionChange)="dateChanged(datetime.value)" showDefaultButtons="true" id="datetime"></ion-datetime>
                    </ng-template>
                  </ion-modal>
                </ion-item>

                <ion-item>
                  <ion-button
                    class="full-width-button"
                    color="tertiary"
                    (click)="guardarCita()"
                    *ngIf="isValidForm(); else citaButton"
                    >Guardar cita</ion-button
                  >
                  <ng-template #citaButton>
                    <ion-button
                      class="full-width-button"
                      color="tertiary"
                      [disabled]="true"
                      (click)="guardarCita()"
                    >
                      Guardar cita
                    </ion-button>
                  </ng-template>
                </ion-item>
              </ion-list>
            </form>
          </ng-template>
      </ion-col>
      <ion-col></ion-col>
      <ion-col size="12"></ion-col>
      <ion-col></ion-col>
      <ion-col size="12" sizeLg="8">
        <ion-list class="animate__animated animate__shakeX">
          <ng-container *ngIf="citas !== 0">
            <div
              *ngFor="let cita of citas; let i = index"
              class="post-it centrado"
              (click)="toggleExpand(i)"
              >
              <div
                class="ion-text-center"
                [ngClass]="{'animate__animated': isExpanded[i], 'animate__pulse': isExpanded[i]}"
                >
                <h3>{{ cita.motivo }}</h3>
                <span>{{cita.especialidad}}</span>
                <ion-text>
                  <h4 *ngIf="isExpanded[i]">{{ cita.especialidad }}</h4>
                  <h4 *ngIf="isExpanded[i]">{{ cita.fecha }}</h4>
                </ion-text>
              </div>
            </div>
          </ng-container>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
