ion-card{
background: var(--ion-solid-background);
border-radius: 1rem;

#rgs-inside{
  background: var(--ion-inside-background);
  color: #000;
  padding: 1rem;

  ion-button{
    padding-top: 0.5rem;
  }
}
}
