<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col  sizeXs="12" sizeMd="8" sizeLg="8">
        <ion-card color="primary" class="ion-text-center">
          <ion-card-header>
            <ion-card-title>DaClin</ion-card-title>
            <ion-card-subtitle>Te ayudamos a cuidarte</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <div id="rgs-inside" class="ion-justify-content-center">
                <h1>Registrarse</h1>
                <ion-input
                  label="Nombre de usuario:"
                  placeholder="username"
                  [(ngModel)]="username"
                  ></ion-input>
                <ion-input
                  label="Contraseña:"
                  type="password"
                  placeholder="contraseña"
                  [(ngModel)]="password"
                  ></ion-input>

                <ion-input
                  label="Repetir contraseña:"
                  type="password"
                  placeholder="contraseña"
                  [(ngModel)]="password2"
                  ></ion-input>
                <div class="ion-justify-content-center">
                  <a class="padding-login" [routerLink]="['/']">¿Ya tienes una cuenta?</a>
                </div>
                <ion-button class="full-width-button" color="primary" (click)="register()"
                  >Registrarse</ion-button
                >
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
