  ion-button{
    padding-top: 0.5rem;
    border-radius: 1rem;
  }
  #margin-lgn{
    margin-top: 1rem;
  }
  #titulo{
    font-size: 1.5rem;
    font-weight: bold;
  }

ion-content {
  --background: url('../../assets/images/register.jpg') no-repeat center center fixed;
  --background-size: cover;
}

#lgn-div {
  padding: 0.5rem;
  background: var(--ion-inside-background);
  border-radius: 1rem;
}

