<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col  sizeXs="12" sizeMd="8" sizeLg="8">

            <div id="lgn-div" class="ion-justify-content-center">
              <div class="ion-text-center" id="titulo">
                <h1>Registrarse</h1>
              </div>
                <ion-input
                  label="Nombre de usuario:"
                  placeholder="username"
                  [(ngModel)]="username"
                  ></ion-input>
                <ion-input
                  label="Contraseña:"
                  type="password"
                  placeholder="contraseña"
                  [(ngModel)]="password"
                  ></ion-input>

                <ion-input
                  label="Repetir contraseña:"
                  type="password"
                  placeholder="contraseña"
                  [(ngModel)]="password2"
                  ></ion-input>
                <div id="margin-lgn" class="ion-text-center">
                  <a class="padding-login" [routerLink]="['/']">¿Ya tienes una cuenta?</a>
                </div>
                <ion-button class="full-width-button" color="primary" (click)="register()"
                  >Registrarse</ion-button
                >
            </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
