<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col sizeXs="12" sizeMd="8" sizeLg="8">
        <div id="lgn-div" class="ion-justify-content-center">
          <h1 id="titulo" class="ion-text-center">Inicio de sesión</h1>
          <form [formGroup]="formularioLogin">
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input id="inp-username" formControlName="nombre"></ion-input>
              <div *ngIf="errorNombre()" class="input-error">
                Nombre requerido, minimo 3 caracteres, solo alfanumericos.
              </div>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input id="inp-password" formControlName="password" type="password"></ion-input>
              <div *ngIf="errorPass()" class="input-error">
                Contraseña obligatoria
              </div>
            </ion-item>
            <ion-item>
              <ion-checkbox id="chbx-save" formControlName="saveConnection" slot="start"></ion-checkbox>
              <ion-label>¿Desea mantenerse conectado?</ion-label>
            </ion-item>
          </form>
          <div id="margin-reg" class="ion-text-center">
            <a [routerLink]="['/register']">¿No tienes una cuenta?</a>
          </div>
          <ion-button
            id="btn-login"
            class="full-width-button"
            color="primary"
            (click)="login()"
            *ngIf="isValidForm(); else loginButton"
            >Login</ion-button
          >
          <ng-template #loginButton>
            <ion-button
              class="full-width-button"
              color="primary"
              [disabled]="true"
              (click)="login()"
            >
              Login
            </ion-button>
          </ng-template>
        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
