<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col  sizeXs="12" sizeMd="8" sizeLg="8">

            <div id="lgn-div" class="ion-justify-content-center">
                <h1 id="titulo" class="ion-text-center">Inicio de sesión</h1>
                <ion-input
                  label="Nombre"
                  placeholder="username"
                  [(ngModel)]="username"
                  ></ion-input>
                <ion-input
                  label="Password"
                  type="password"
                  placeholder="contraseña"
                  [(ngModel)]="password"
                  ></ion-input>
                <div id="margin-reg" class="ion-text-center">
                  <a [routerLink]="['/register']">¿No tienes una cuenta?</a>
                </div>
                <ion-button class="full-width-button" color="primary" (click)="login()"
                  >Login</ion-button
                >
            </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
